$color-red: #F87070;
$color-blue: #70F3F8;
$color-purple: #D881F8;

$color-grey-main: #D7E0FF;
$color-grey-light: #EFF1FA;


$color-blue-light: #1E213F;
$color-blue-dark: #161932;

$color-white: #FFFFFF;
